.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  width: 250px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: lightcyan;
  padding: 12px;
}
.name {
  font-size: 25px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
