.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 350px;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.title {
  color: rgba(0, 0, 0, 0.6);
  margin: 20px auto;
  font-size: 25px;
  font-weight: bold;
}
.stat_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  border: none;
}
.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 5);
  gap: 10px;
  padding: 20px 5px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.label {
  font-size: 13px;
  font-weight: 500;
}
.percentage {
  font-size: 20px;
  font-weight: 500;
}
