.transactionHistory {
  border: 1px solid #eeeeee;
  width: 500px;
  margin-left: 20px;
  font-size: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

thead {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 18px 0;
}

tr {
  display: flex;
  width: 100%;
  padding: 18px 0;

  &:nth-of-type(odd) {
    background-color: #eeeeee;
  }
}

td,
th {
  flex: 1 1 20%;
  text-align: center;
}

th {
  text-transform: uppercase;
}
